<!DOCTYPE html>
<html>

<head>
    <title>Bootstrap 实例</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="static/js/jquery.min.js"></script>

    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/jquery-3.4.1.min.js"></script>
    <script src="static/js/jquery.min.js"></script>

</head>

<body>

<div>
    <h1>不好意思，没有提取到言论Orz，请重新来过</h1>
<form action="http://localhost:5000/" method="POST">
    <p><input type="submit" value="reFresh"/></p>

</form>
<p>词云展示：</p>
<img src="static/images/comment_wc_all.png"
     class="img-responsive " alt="Cinque Terre" width="304" height="236">
</div>
</body>